<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="section/head :: head">
    <meta charset="UTF-8">
    <title>Gaming news</title>

</head>
<header th:insert="section/header ::header"></header>
<body>
<div class="container mt-4">
    <h1>About us</h1>
    <p>Gaming News is an online platform dedicated to the latest events in the world of video games.</p>
    <p>We offer the latest game reviews, gaming industry news, interviews with developers, and much more.</p>
    <p>Our goal is to keep you up to date with the latest news and events in the gaming world.</p>
</div>
</body>
<footer th:insert="section/footer ::footer"></footer>

</html>