<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="section/head :: head">
    <meta charset="UTF-8">
    <title>Contacts</title>

</head>
<header th:insert="section/header ::header"></header>
<body>
<div class="container mt-4">
    <h1>Contacts</h1>
    <p>Contact us if you have any questions or suggestions:</p>
    <ul>
        <li>Email: example@example.com</li>
        <li>Telephone: +1234567890</li>
        <li>Address: st. Chernyakhovskogo, 123, Kriviy Rih, Ukraine</li>
    </ul>
</div>
</body>
<footer th:insert="section/footer ::footer"></footer>

</html>