<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="section/head :: head">
    <meta charset="UTF-8">
    <title>Edit post</title>

</head>
<header th:insert="section/header ::header"></header>
<body>
<div class="container">
    <form method="post" th:action="'/blog/'+${post.getId()} + '/edit'">
<!--        <input type="hidden" class="form-control" id="id" name="id">-->
        <div class="mb-3">
            <label class="form-label" for="header">Header</label>
            <input th:value="${post.getHeader()}" type="text" class="form-control" id="header" name="header">
        </div>
        <div class="mb-3">
            <label class="form-label" for="context">Context</label>
            <textarea th:text="${post.getContext()}" rows="10" class="form-control" id="context" name="context"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
</div>
</body>
<footer th:insert="section/footer ::footer"></footer>
</html>